.chatBox {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo {
  height: 40%;
}
.chatBoxUser{
  padding: 20px;
  background-color: green;
  color: white
}
.chatBoxAssist{
  padding: 20px;
  background-color: blue;
  color: white;
}


